@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2E3440;
  --foreground: #ECEFF4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2E3440;
    --foreground: #ECEFF4;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto), sans-serif;
}
