@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --border: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", monospace;
}

::selection {
  background: #ff2e2e;
  color: #ffffff;
}

::-moz-selection {
  background: #ff2e2e;
  color: #ffffff;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #f5f5f5;
  --border: #f5f5f5;
}
